body {
  font-family: "Dosis", sans-serif;
}

li {
  list-style: none;
}

h1 {
  padding-top: 5px;
  text-transform: capitalize;
}
.weather-app-wrapper {
  margin: 30px auto;
  max-width: 600px;
}
.weather-app {
  border: 1px solid green;
  padding: 20px;
  border-radius: 10px;
}

.current-city {
  text-align: right;
  font-size: 24px;
  line-height: 28px;
}

.row {
  text-align: center;
}

.hum-wind {
  opacity: 0.8;
  font-size: 10px;
  margin-bottom: 0;
}

.date {
  font-size: large;
  font-weight: 400;
  margin-bottom: 0;
  opacity: 0.75;
}

.time {
  margin-top: -10px;
  font-size: 40px;
  opacity: 0.75;
}

.lower-line {
  max-width: 500px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.lower-col {
  border: 1px solid green;
  margin: 8px;
  padding-top: 5px;
}

.day {
  font-weight: 500;
  margin-bottom: 0;
}

.hi-lo {
  font-size: 10px;
  opacity: 0.5;
}

.weather {
  text-align: center;
  margin-bottom: 0;
  opacity: 0.75;
}

.coder {
  text-align: center;
  opacity: 0.75;
  font-size: 9px;
}

#main-temp {
  font-size: 12px;
  opacity: 0.75;
}

#main-temp strong {
  font-size: 40px;
  font-weight: 400;
  vertical-align: top;
}
#current-weather-and-time {
  margin-top: 20px;
}

#fahrenheit {
  text-decoration: none;
}

#icon {
  font-size: 80px;
  margin-top: -10px;
  margin-bottom: -20px;
}

#description {
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
}

#date-time {
  padding-top: 5px;
}

#humidity {
  margin-top: -5px;
}

a.active {
  color: black;
  cursor: default;
}

a.active:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

